@font-face {
    font-family: 'RobotoMonoBold';
        src: url('RobotoMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'RobotoMonoBoldItalic';
        src: url('RobotoMonoBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'RobotoMonoItalic';
        src: url('RobotoMonoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RobotoMonoLight';
        src: url('RobotoMonoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RobotoMonoLightItalic';
        src: url('RobotoMonoLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RobotoMonoMedium';
        src: url('RobotoMonoMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RobotoMonoMediumItalic';
        src: url('RobotoMonoMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'RobotoMonoRegular';
        src: url('RobotoMonoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RobotoMonoThin';
        src: url('RobotoMonoThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'RobotoMonoThinItalic';
        src: url('RobotoMonoThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

 /* The following rules are deprecated. */

@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Roboto Mono';
        src: url('RobotoMonoThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

