@require './vuepress/styles/config'

/*
 *
 * Defines default styles specific to Sphinx Press,
 * on top of VuePress styles
 *
 */


// ReST put table cell elements into P
table
  p
    margin: 0


.content
  max-width: 840px
  margin: 0 auto

  pre
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: .85rem 0;
    background-color: #282c34;
    border-radius: 6px;
    overflow: auto;

  code
    color: #476582;
    padding: .25rem .5rem;
    margin: 0;
    font-size: .85em;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;

  .footnote-reference, .label, dt, .reference
    margin-top -($navbarHeight)
    padding-top $navbarHeight
  & a:focus
    // remove outline because padding mess it up
    outline none

/* MAKES MAIN TEXT SECTION LARGER */
.content:not(.custom)
  max-width: 840px

/* fix anchor link positioning  for fixed navbar */
// FIXME this is not enough as it works only for section headers
$anchorHeight = ($navbarHeight + 0.5rem)
.content section
  margin-top -($anchorHeight)
  padding-top $anchorHeight
  margin-bottom 0
  &:hover
    .headerlink
        opacity: 1


/* Use # as symbol for anchor headerlinks */
h1, h2, h3, h4, h5, h6
  &:hover a.headerlink
    &::after
      visibility visible
      content "#"

a.headerlink
  font-size 0.85em
  visibility hidden
  &:hover
    text-decoration none

ul.page-nav
  list-style none
  & li
    display inline-block

.body-header
  display flex
  & ul.page-nav
    flex-grow 1
    list-style none
    list-style-position inside
    text-align right
    margin-right 30px
    & li + li:before
      content "|"
      padding 0 1em

ul.breadcrumbs
  list-style none
  & li
    display inline-block


/* THE SECTION BELOW DEFINES THE APPEARANCE OF TABLE-OF-CONTENTS */
/* color fixes for table of contents */
.toc-backref
  /* TOCS cause all your section titles to go green. Pouah! */
  color: inherit
.contents.topic p.topic-title
  /* Hide all TOC titles */
  display: none
.contents.topic
  margin-bottom: 3em


/** index page **/
.toctree-wrapper .caption
  // same as h2
  font-weight 600
  line-height 1.25
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor



/** footer **/
.footer
  clear both
  min-height 2rem
  padding-top 1rem
  overflow auto
  color grey
  font-size small
  line-height 1.5rem


/** pygments style **/
.content .highlight
  border-radius 6px

// force background color from pygments
.content .highlight pre
  background-color inherit

.content .highlighted
  background-color #fbe54e
  font-weight bold
  padding 0 4px

/*** admonitions based on custom-blocks.styl */
.admonition
  padding .1rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  // default color
  background-color #e2e2e2
  border-color #787878

  .admonition-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.hint
    background-color #f3f5f7
    border-color #42b983
  &.important, &.note
    background-color #e5f1fb
    border-color #5faaea
  &.warning, &.caution
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger, &.error
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor


/* THE SECTION BELOW CHANGES CODE FONTS FOR BETTER 80-CHARS READABILITY */
/* Code will be displayed as Roboto, or Inconsolata if screen is small */
code, pre
  font-family: 'RobotoMonoRegular', 'Roboto Mono', 'Inconsolata', monospace;

@media (max-width: 1200px)
  code, pre
    font-family: 'InconsolataRegular', 'Inconsolata', 'RobotoMonoRegular', 'Roboto Mono', monospace;
  pre
    font-size: 0.95em

blockquote
  font-size: inherit
  h2
    margin-left: 1em


/* THE SECTION BELOW DEFINES THE APPEARANCE OF AUTODOC-GENERATED DOCS */
.sig-name.descname
  font-size: 1.2em
  font-weight: bold
  padding: 0 0 3px /* creates a perfect grey rectangle*/

.sig-param
  font-family: 'RobotoMonoRegular', 'Roboto Mono', 'Inconsolata', monospace;
  margin-left: 0.3em

.sig-paren
  margin-left: 0.3em

dt
  line-height: 1.5em
  margin-bottom: 1em

dt.field-odd, dt.field-even, p.rubric
  font-size: 1.2em
  font-weight: bold
  color: #4d6a86

dd
  margin-inline-start: 10px

dd.field-odd p strong
  margin-left: 1em

dl.method, dl.function
  margin-top: 2em
  margin-bottom: 3em

.viewcode-link
  margin-left: 1em
  color: #9ad8bc
/* end - autodoc */


/* MAKES SPHINX SYNTAX figure:: :align:center WORK AGAIN */
.figure.align-center
  text-align: center


/* THE SECTION BELOW FIXES A SPHINX-MERMAID OPACITY PROBLEM */
.content .section
  opacity: 1.0 !important
.section
  opacity: 1.0 !important
